<h1>Create a New Team</h1>

<%= simple_form_for(@team) do |f| %>
  <div class="field">
    <%= f.input :name %>
  </div>

  <h2>Add Members</h2>
  <div data-controller="user-search">
    <%= form_with url: users_path, method: :get, html: {class:
    "mb-4", data: {user_search_target: "form"}} do |f| %>
    <%= f.text_field :query,
                     class: "form-control",
                     placeholder: "Search for users",
                     value: params[:query],
                     data: {user_search_target: "input"} %>
    <% end %>

    <h2>Results</h2>
    <div data-user-search-target="results"><p class="h3"></p></div>

    <h2>Selected Members</h2>
    <div data-user-search-target="selectedMembers"><p class="h3"></p></div>

    <%# <input type="text" id="user_search" placeholder='Search for users' data-action="input->user-search#perform">
    <div id="search_results" data-user-search-target="results"></div> %>

  </div>

  <div class="actions">
    <%= f.submit 'Create Team' %>
  </div>
<% end %>
