
<div class="main-container1">
  <% @team.members.each do |member| %>
    <div class="member-card">
      <%= link_to team_member_path(@team, member) do %>
      <% if member.user.profile_image.key.present? %>
        <%= cl_image_tag member.user.profile_image.key, class: "profile-image" %>
      <% end %>
      <p>Weekly points: <%= member.weekly_points %></p>
      <p>Total points: <%= member.total_points %></p>
      <% end %>
    </div>
  <% end %>
</div>
<div class="play-button-container">
  <%= link_to '', play_team_path(@team), class: "play-btn" %>
</div>
