<h1>WeeklyQuestions#show</h1>
<p>Find me in app/views/weekly_questions/show.html.erb</p>
<div class="weekly-question-card">
  <% if @current_question %>
    <h2><%= @current_question.title %></h2>
    <%= form_with(model: @weekly_answer, url: weekly_answers_path, method: :post) do |form| %>
      <% @current_question.answers.each do |answer| %>
        <div class="form-check">
          <%= form.radio_button :selected_answer_id, answer.id, class: "form-check-input" %>
          <%= form.label "weekly_answer_selected_answer_id_#{answer.id}", answer.option, class: "form-check-label" %>
        </div>
      <% end %>
      <%= form.submit "Submit Answer", class: "btn btn-primary" %>
    <% end %>
    <div class="answer-feedback">
      <% if @answer_feedback %>
        <p><%= @answer_feedback %></p>
      <% end %>
    </div>
    <button class="btn btn-primary next-question">Next</button>
  <% end %>
</div>
