<div>
  <h1><%= @question.content %></h1>
  <%= form_with model: @answer, url: create_answer_weekly_question_path(@question), local: true do |form| %>
    <% @question.answers.each do |answer| %>
      <div>
        <%= form.radio_button :content, answer %>
        <%= form.label :content, answer %>
      </div>
    <% end %>
    <%= form.hidden_field :user_id, value: current_user.id %>
    <%= form.hidden_field :weekly_question_id, value: @question.id %>
    <%= form.submit 'Submit Answer' %>
  <% end %>
</div>
