<div class="users-container">
  <div class="users-card">
    <div class="text">
<p><%= @user.email %></p>
<p><%= @user.username %></p>
<p><%= @user.description %></p>
<p><%= @user.total_points %></p>



<%= link_to 'Back to Users', users_path, class: "button-54" %>
    </div>
  </div>
</div>
