<!DOCTYPE html>
<html>
  <head>
    <title>InBreaker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  </head>

  <body><%= render "shared/navbar" %>

<%= render "shared/flashes" %>
<%= render "shared/footer" %>

        <% if flash[:notice] %>
    <div class="alert alert-success">
      <%= flash[:notice] %>
    </div>
  <% end %>

    <% if flash[:alert] %>
    <div class="alert alert-danger">
      <%= flash[:alert] %>
    </div>
  <% end %>

    <%= yield %>
  </body>
</html>

      <!--<p class="notice"><%#= notice %></p>-->
<!--      <p class="alert"><%#= alert %></p>
